NODE_ENV=development
PORT=8080
JWT_SECRET=your-secret-key-change-this-in-production

# Database Production
DB_USERNAME=root
DB_PASSWORD=password_prod
DB_NAME=db_smart_home_rcl_prod
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DIALECT=mysql

# Database Test
DB_USERNAME_TEST=root
DB_PASSWORD_TEST=password_test
DB_NAME_TEST=db_smart_home_rcl_test
DB_HOST_TEST=127.0.0.1
DB_PORT_TEST=3306
DB_DIALECT_TEST=mysql

# Database Development
DB_USERNAME_PROD=root
DB_PASSWORD_PROD=password_dev
DB_NAME_PROD=db_smart_home_rcl_dev
DB_HOST_PROD=127.0.0.1
DB_PORT_PROD=3306
DB_DIALECT_PROD=mysql
